KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCH_DIR)/boot.o \
$(ARCH_DIR)/gdt/gdt.o \
$(ARCH_DIR)/gdt/gdt_flush.o \
$(ARCH_DIR)/interrupt/idt.o \
$(ARCH_DIR)/interrupt/interrupt.o \
$(ARCH_DIR)/interrupt/irq.o \
$(ARCH_DIR)/interrupt/isr.o \
$(ARCH_DIR)/screen/tty.o \
$(ARCH_DIR)/timer/timer.o \
